<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
				http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<context:component-scan base-package="com.arkodata.arko_services" />
	<context:annotation-config />

	<security:http auto-config="true" access-denied-page="/accessDenied.jsp">

		<security:form-login login-page="/login.jsp" />
		<security:logout logout-success-url="/login.jsp" />
		<security:intercept-url pattern="/login.jsp*" filters="none" />
		<security:intercept-url pattern="/index.jsp*" access="ROLE_ADMIN,ROLE_USER" />
		<security:intercept-url pattern="/hello.do*" access="ROLE_ADMIN,ROLE_USER" />
		
		<!-- <security:session-management invalid-session-url="/sessionTimeout.html" /> -->
		
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder hash="md5" />
			<!-- 
			<security:user-service>
				<security:user name="user" password="ee11cbb19052e40b07aac0ca060c23ee"
					authorities="ROLE_USER" />
			</security:user-service>
			 -->
			 <security:jdbc-user-service data-source-ref="dataSource"/>
		</security:authentication-provider>
	</security:authentication-manager>

	 <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">      
       <property name="basenames">
       	<list>
       		<value>messages</value>
       	</list>
       </property>  
     </bean>   
	<!-- remote database -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://10.0.0.3:5029/arko_services"></property>
		<property name="username" value="arkodwuser"></property>
		<property name="password" value="Abc.123"></property>
	</bean>

<!--  local database
 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/arko_services"></property>
		<property name="username" value="arkodwuser"></property>
		<property name="password" value="Abc.123"></property>
	</bean> -->
</beans>